<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
	<system.web>
		<compilation debug="true" targetFramework="4.5" />
		<httpRuntime targetFramework="4.5" />
	</system.web>
	<connectionStrings>
		<add name="FreeLancersEntities" connectionString="metadata=res://*/FreeLancerEntities.csdl|res://*/FreeLancerEntities.ssdl|res://*/FreeLancerEntities.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.;initial catalog=FreeLancers;persist security info=True;user id=sa;password=Windows.2000;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
	</connectionStrings>
</configuration>
